body{
    margin: 0px;
    background-color: rgb(247, 244, 244);
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navbar{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "logo links links member";
    /* border: 1px solid blue;  */
    margin-top: 0px;
}

.logo{
    grid-area: logo;
}

.links{
    grid-area: links;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.member{
    grid-area: member;
    display: flex;
    align-items: center;
    gap: 30px;
}

.member .button{
    display: flex;
    align-items: center;
    gap: 10px;
}

.member button{
    height: 40px;
    background-color:#409cf1;
    border-radius: 5px;
}

.top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px; 
    height: 600px;
    background-image: url('hero.png');
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover; 
    color: white;
}
    

.about{
    padding: 0px 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.us{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about > h1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    padding: 30px;
    font-size: 50px;
    font-weight:bolder;
    /* border: 1px solid blue; */
    
}

.about > p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 15px;
    margin-bottom: 0%;
    padding: 0px 30px;
    /* font-weight:bolder; */
    /* border: 1px solid blue; */
    
}

#p2{
    margin-top: 0%;
    margin-bottom: 25px;
    /* display: flex;
    justify-content: center; */
}

.part2{
    /* border: 1px solid blue;   */
    display: flex;
    justify-content: center;
    align-items: center;
}

.more{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 70px;
}

button{
    color: white;
}

.more button{
    height: 35px;
}

#Quote{
    border-radius: 30px;
    background-color:#409cf1;
    width: 200px;
    height: 60px;
}

#learn{
    border-radius: 30px;
    background-color: transparent;
    width: 200px;
    height: 60px;
}

.packages{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 500px;
    gap: 20px;
    /* border: 1px solid blue;   */
    padding: 30px 70px 30px 30px;
}

.packages h4{

    font-size: 25px;
}

.packages img{
    /* border: 1px solid blue;   */
    margin-bottom: 0px;

}

.packages p{
    /* border: 1px solid blue;   */
    margin-top: 0px;
    margin-bottom: 0px;
}

.package2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    gap:30px;
    margin-top: 100px;
    margin-bottom: 200px;
    background-color: white;
    width: 100%;
}

.product{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product p{
    margin-bottom: 0%;
    margin-top: 0%;
}

.industry{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.industry p{
    margin-bottom: 0%;
    margin-top: 0%;
}

.reviews{
    display: flex;
    justify-content: space-between;
    gap: 100px;
    margin-bottom: 200px;
}

.rev{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    align-items: center;
    margin-top: 100px;
    height: 300px;
    width: 300px;
    background-color: white;
}

.rev p{
    margin-bottom: 0%;
    margin-top: 0%;
}

.clients{
    display: flex;
    align-items: center;
    gap: 100px;
    /* border: 1px solid blue;   */
    justify-content: space-between;
}

.subscribe{
    display: flex;
    gap: 200px;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    padding: 50px;
    background-image: linear-gradient(to right, blue, red);
}

.subscribe button{
    background-color:#409cf1;
}

.subscribe input{
    border-right: none;
    width: 300px;
    height: 30px;
}

.subscribe .input{
    display: flex;
    gap: 0;
}

.subscribe h4{
    font-size: 20px;
    margin: 0px;
}

.sh4{
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.pricing p{
    margin: 0px;
}

.pricing{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ph2{
    display: flex;
    justify-content: center;    
}

.textp{
    display: flex;
    flex-direction: column;
    justify-content: center;   
    align-items: center;
}

#premium{
    background-color: rgb(29, 5, 51);
    color: white;
}

.feature{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
}

.subscriptions p{
    margin: 0px;
}

.subscriptions h3{
    text-align: center;
}

.subscriptions{
    display: flex;
    justify-content: space-between;
    width: 900px;
    margin-top: 50px;
    /* border: 1px solid blue;       */
}

.des{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.price{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    gap: 10px;
}

.monthly{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    padding-bottom: 30px;
    width: 300px;
    border-radius: 10px;
    border: 1px solid #409cf1;
}

.green{
    background-color: rgb(135, 218, 135);
    padding: 10px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gray{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    padding: 10px;
    border-radius: 100%;
}


.num{
    font-size: 30px;
    font-weight: bold;
}

.dollar{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Trial{
    width: 220px;
    height: 40px;
    border-radius: 5px;
    background-color:#409cf1;
    margin-top: 20px;
}

.branches{
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    width: 100vw;
    padding-left: 500px;
    padding-right: 400px;
    height: 700px;
    /* border: 1px solid blue; */
    background-color: rgb(3, 3, 31);
    color: white;
    margin-top: 100px;
    margin-bottom: 400px;
    padding-top: 200px;
}
.dsc{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* border: 1px solid yellow; */
    width: 400px;
    
}

.book{
    display: flex;    
    gap: 50px;
    margin-bottom: 100px;
    background-color: white;
    position: absolute;
    top:4000px;
    width: 50%;
}

.book button{
    background-color:#409cf1;
    height: 40px;
    border-radius: 5px;
}

.form{
    display: flex;
    flex-direction: column; 
    justify-content: space-around; 
    padding-right: 30px;
    padding-top: 5px;
    width: 400px;

    /* border: 1px solid blue; */
}

form input{
    border: none;
    background-color: rgb(240, 238, 238);
    height: 30px;
    border-radius: 5px;
    margin-bottom: 10px;
}

form select{
    margin-bottom: 10px;
    height: 30px;

}

.form h3{
    /* border: 1px solid blue;   */
    margin-bottom: 0px;
}

.fill{
    display: flex;
    flex-direction: column; 
    justify-content: space-around;
    margin-top: 0px;
}

.contactUs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    /* border: 1px solid blue;   */
}

.consult h2{
    margin-bottom: 0px;
}

.consult p{
    margin-top: 5px;
}

.contactUs button{
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#409cf1;
}

.qlink{
    /* border: 1px solid blue;   */
    width: 1200px;
    display: flex;
    gap: 100px;
}

.socials{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    /* border: 1px solid blue;   */
}

.footer{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    margin-top: 50px;
    /* background-color: white;
    width: 100%; */
}

.quickLinks div{
    margin-bottom: 15px;
}

.white{
    background-color: white;
    color: black;
}

.blue{
    background-color:#409cf1;    
}

.white, .blue{
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 30px;
}

#standard, #free{
    margin-top: 30px;
    background-color: white;
}

.follow{
    display: flex;
    gap:10px;
}