body{
    margin: 0px;
    padding: 0px; 
    overflow-x: hidden;
    background-color: rgb(247, 244, 244);
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    /* border: 1px solid blue;  */

    
}

.navbar{
    display: flex;
    justify-content: space-around;
    /* border: 1px solid blue;  */
    margin-top: 0px;
    width: 90vw;
}

.logo{
    width: 10%;
}

.links{
    display: flex;
    justify-content: flex-start;
    width: 40%;
    align-items: center;
    gap: 2rem;
}

.member{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.member .button{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    height: 4rem;
    width: 15rem;
    background-color:#409cf1;
    border-radius: 0.5rem;
    border: none;
}

.top{
    /* display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; */
    margin-bottom: 12rem; 
    height: 57rem;
    background-image: url('hero.png');
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover; 
    color: white;
    /* border: 1px solid blue;  */
    width: 100%;

}
    

.about{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid blue;  */

    
}

.us{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about > h1{   
    width: 50%; 
    font-size: 70px;
    font-weight:bolder;
    /* border: 1px solid blue; */
    
} 

.about  p{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 25px;
    /* font-weight:bolder; */
    /* border: 1px solid blue; */
    
}

#p2{
    margin-top: 0%;
    margin-bottom: 2rem;
    /* display: flex;
    justify-content: center; */
}

.part2{
    /* border: 1px solid blue;   */
    display: flex;
    justify-content: center;
    align-items: center;
}

.more{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 5rem;
}

button{
    color: white;
}

.more button{
    height: 2.5rem;
}

#Quote{
    border-radius: 2rem;
    background-color:transparent;
    width: 15rem;
    height: 4rem;
    border: none;
}

#learn{
    border-radius: 2rem;
    background-color:transparent;
    width: 15rem;
    height: 4rem;
    border: none;
}

#learn:hover{
    background-color: #409cf1;
}

#Quote:hover{
    background-color: #409cf1;
}

.packages{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 95vh; 
    left: 25vw;
    /* margin-top: 100px; */
    gap: 2rem;

}

.white:hover{
    background-color: #409cf1;
}

.packages h4{

    font-size: 25px;
}

.packages img{
    /* border: 1px solid blue;   */
    margin-bottom: 0px;

}

.packages p{
    /* border: 1px solid blue;   */
    margin-top: 0px;
    margin-bottom: 0px;
}

.package2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    gap:30px;
    margin-top: 100px;
    margin-bottom: 200px;
    background-color: white;
    width: 100%;
}

.product{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product p{
    margin-bottom: 0%;
    margin-top: 0%;
}

.industry{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.industry p{
    margin-bottom: 0%;
    margin-top: 0%;
}

.reviews{
    display: flex;
    justify-content: space-between;
    gap: 100px;
    margin-bottom: 200px;
}

.rev{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    align-items: center;
    margin-top: 100px;
    height: 300px;
    width: 300px;
    background-color: white;
}

.rev p{
    margin-bottom: 0%;
    margin-top: 0%;
}

.clients{
    display: flex;
    align-items: center;
    gap: 100px;
    /* border: 1px solid blue;   */
    justify-content: space-between;
}

.subscribe{
    display: flex;
    gap: 200px;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    padding: 50px;
    background-image: linear-gradient(to right, blue, red);
}

.subscribe button{
    background-color:#409cf1;
}

.subscribe input{
    border-right: none;
    width: 300px;
    height: 30px;
}

.subscribe .input{
    display: flex;
    gap: 0;
}

.subscribe h4{
    font-size: 20px;
    margin: 0px;
}

.sh4{
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.pricing p{
    margin: 0px;
}

.pricing{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ph2{
    display: flex;
    justify-content: center;    
}

.textp{
    display: flex;
    flex-direction: column;
    justify-content: center;   
    align-items: center;
}

/* #premium{
    background-color: rgb(29, 5, 51);
    color: white;
} */

.feature{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
}

.subscriptions p{
    margin: 0px;
}

.subscriptions h3{
    text-align: center;
}

.subscriptions{
    display: flex;
    justify-content: space-between;
    width: 900px;
    margin-top: 50px;
    /* border: 1px solid blue;       */
}

.des{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.price{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    gap: 10px;
    color: #409cf1;
}

.monthly{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    padding-bottom: 30px;
    width: 300px;
    border-radius: 10px;
    border: 1px solid #409cf1;
}

.green{
    background-color: rgb(135, 218, 135);
    padding: 10px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gray{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    padding: 10px;
    border-radius: 100%;
}


.num{
    font-size: 30px;
    font-weight: bold;
}

.dollar{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Trial{
    width: 220px;
    height: 40px;
    border-radius: 5px;
    background-color:#409cf1;
    margin-top: 20px;
}

.branches{
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    width: 100vw;
    padding-left: 500px;
    padding-right: 400px;
    height: 700px;
    /* border: 1px solid blue; */
    background-color: rgb(3, 3, 31);
    color: white;
    margin-top: 100px;
    margin-bottom: 400px;
    padding-top: 200px;
}
.dsc{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* border: 1px solid yellow; */
    width: 400px;
    
}

.book{
    display: flex; 
    justify-content: space-between; 
    /* gap: 50px; */
    margin-bottom: 100px;
    background-color: white;
    position: absolute;
    top:515vh;
    /* border: 1px solid yellow; */
    padding-inline: 0px;
    width: 50%;
}

.book button{
    background-color:#409cf1;
    height: 2.8rem;
    border-radius: 0.2rem;
}

.form{
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
    padding: 2.4rem;
    /* align-items: center; */
    /* gap: 1rem; */
    /* flex: 0.7; */
    width: 95rem;
    /* border: 1px solid blue; */
}

form input{
    border: none;
    background-color: rgb(240, 238, 238);
    height: 30px;
    border-radius: 5px;
    margin-bottom: 10px;
}

form select{
    margin-bottom: 10px;
    height: 30px;

}

.form h3{
    /* border: 1px solid blue;   */
    margin-bottom: 0px;
}

.fill{
    display: flex;
    flex-direction: column; 
    justify-content: space-around;
    margin-top: 0px;
}

.contactUs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    /* border: 1px solid blue;   */
}

.consult h2{
    margin-bottom: 0px;
}

.consult p{
    margin-top: 5px;
}

.contactUs button{
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#409cf1;
}

.qlink{
    /* border: 1px solid blue;   */
    width: 1200px;
    display: flex;
    gap: 100px;
}

.socials{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    /* border: 1px solid blue;   */
}

.footer{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    margin-top: 50px;
    /* background-color: white;
    width: 100%; */
}

.quickLinks div{
    margin-bottom: 15px;
}

.package{
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 30px;
    background-color: white;
    color: black;
}

.package:hover{
    background-color:#409cf1;    
}

.monthly{
    margin-top: 30px;
    background-color: white;
}

.monthly:hover{
    background-color: rgb(29, 5, 51);
    color: white;
    margin-top: 0px;
}

.follow{
    display: flex;
    gap:10px;
}
.enquire{
    display: flex;
    flex-direction: column;
}

.info{
    display: flex;
    gap:10px;
}

.form-img{
    width: 15rem;
}